<h1>Editing Film</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @film, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', films_path, class: "btn btn-default" %>

